<?xml version="1.0" encoding="UTF-8" ?>
<network>
	<server type='threaded_tcp' value='port'>9407</server>
	<client type='tcp' value='port'>9407</client>
	
	<server type='threaded_broadcast' value='port'>50000</server>
	<client type='threaded_broadcast' value='port'>50001</client>
	
	<server type='threaded_udp' value='port'>51000</server>
	<client type='udp' value='port'>51001</client>
	
	<server type='threaded_file_server' value='port'>52000</server>
	<client type='threaded_file_client' value='port'>52001</client>
</network>

<logging>
	<console value='level'>debug</console>
	<remote value='level'>debug</remote>
</logging>

<about>
	<author>Oliver Palmer</name>
	<info>Insert info about the programf here</info>
	
	<version type='name'>Prototype 2</version>
	<version type='installed'>0.0.74</version>
	<version type='stability'>Unstable</version>
	<version type='latest'>http://www.opalmer.com/pyfarm/version.php?v=1</version>

	<update type='stable' value='info'>http://www.opalmer.com/pyfarm/version.php?info=stable</update>
	<update type='stable' value='url'>http://www.opalmer.com/pyfarm/version.php?url=stable</update>
	<update type='unstable' value='info'>http://www.opalmer.com/pyfarm/version.php?info=unstable</update>
	<update type='unstable' value='url'>http://www.opalmer.com/pyfarm/version.php?url=unstable</update>
	
	<contact type='email'>opalme20@student.scad.edu</contact>
	<contact type='phone'>703-725-6544</contact>
	
	<support type='www' section='blog'>http://www.opalmer.com/pyfarm/</support>
	<support type='www' section='wiki'>http://www.opalmer.com/pyfarm/wiki</support>
	<support type='www' section='bugs'>http://www.opalmer.com/pyfarm/bugs</support>
	<support type='www' section='forums'>http://www.opalmer.com/pyfarm/forum</support>
</about>
