[run]
source =
    pyfarm/*

omit =
    */twisted/*, */nose/*, */sqlalchemy/*, */colorama/*, */yaml/*, */virtualenv/*, *appdirs.py


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.: