# lines starting with # will be ignored
#
#
#    This file is part of PyFarm.
#
#    PyFarm is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    PyFarm is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with PyFarm.  If not, see <http://www.gnu.org/licenses/>.
#
#
# network settings.  Don't forget new settings here need
# new keys in lib.ReadSettings.Network!
MASTER_ADDRESS::127.0.0.1
BROADCAST_PORT::9630
TCP_STD_OUT::9631
TCP_STD_ERR::9632
TCP_QUE::9633
SIZE_OF_UNIT16::16

# extra paths to search for programs
# example: custom_path_shake::/first/path/to/search:/the/next/path/to/search
custom_path_maya::NONE
custom_path_houdini::NONE
custom_path_shake::NONE
