<?xml version="1.0" encoding="UTF-8"?>
<!--
IMPORTANT notes about this file:
    1.) These default values are used inside of PyFarm, do not remove them.
    2.) If you wish to add the search paths, simply include another <path> tag
    in the relevant locations
    3.) Changing values here can produce unexpected results

This file is part of PyFarm.
Copyright (C) 2008-2009 Oliver Palmer

PyFarm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyFarm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with PyFarm.  If not, see <http://www.gnu.org/licenses/>.
-->
<PyFarm>
    <settings>
        <network>
            <!-- General Network Settings -->
            <general type="host" value="127.0.0.1" />
            <general type="unit16" value="16" />

            <!-- Server Specific Settings -->
            <server type="admin" port="9630" />
            <server type="broadcast" port="9631" interval="15" maxCount="25"/>
            <server type="que" port="9632" />
            <server type="stderr" port="9633" />
            <server type="stdout" port="9634" />
            <server type="status" port="9635" />
        </network>
        <!-- Status Settings -->
        <status>
            <!--
                bgColor - color of the background (table cell, etc.)
                txtColor - color of text
                maxVal - maxium value for color to apply to
                color - general color
            -->
            <job>
                <waiting text="Waiting" index="0" bgColor="255,255,255" txtColor="0,0,0"/>
                <rendering text="Rendering" index="1" bgColor="255,255,255" txtColor="0,255,0"/>
                <complete text="Complete" index="2" bgColor="0,255,0" txtColor="0,0,0"/>
                <failed text="Failed" index="3" bgColor="255,0,0" txtColor="0,0,0"/>
            </job>
            <hosts>
                <enabled text="Enabled" index="0" bgColor="255,255,255" txtColor="0,0,0"/>
                <running text="Running" index="1" bgColor="0,255,0" txtColor="255,255,255"/>
                <disabled text="Disabled" index="2" bgColor="255,255,0" txtColor="0,0,0"/>
                <failed text="Failed" index="3" bgColor="255,0,0" txtColor="0,0,0"/>
            </hosts>
            <general>
                <nonZeroValue bgColor="0,0,0" txtColor="255,255,255"/>
                <zeroValue bgColor="0,0,0" txtColor="255,0,0"/>
                <percent maxVal="25" color="255,0,0" />
                <percent maxVal="50" color="255,255,0" />
                <percent maxVal="75" color="255,255,255" />
            </general>
        </status>
    </settings>
    <software>
        <!-- General Software Settings -->
        <maya widgetIndex="0" fileGrep="Maya Scene File (*.mb *.ma)"/>
        <houdini widgetIndex="1" fileGrep="Houdini File (*.hip)"/>
        <shake widgetIndex="2" fileGrep="Shake Script (*.shk)"/>
        <!-- Maya Search Declarations -->
        <search os="linux" software="maya">
            <path>/usr/autodesk</path>
        </search>
        <search os="mac" software="maya">
            <path>/Applications/Autodesk</path>
        </search>
        <search os="win" software="maya">
            <path>C:\Program Files\Autodesk</path>
        </search>
        <!-- Hodini Search Declarations -->
        <search os="linux" software="houdini">
            <path>/opt</path>
            <path>/usr</path>
        </search>
        <search os="mac" software="houdini">
        </search>
        <search os="win" software="houdini">
                <path>C:\Program Files\Side Effects Software</path>
                <path>C:\Program Files(x86)\Side Effects Software</path>
        </search>
        <!-- Shake Search Declarations -->
        <search os="linux" software="shake">
            <path>/usr/apple/shake-v4.00.0607</path>
            <path>/opt/shake-v4.00.0607</path>
            <path>/usr/local/shake-v4.00.0607</path>
        </search>
        <search os="mac" software="shake">
            <path>/Applications/Shake/shake.app/Contents/MacOS</path>
        </search>
    </software>
</PyFarm>
