<?xml version="1.0" encoding="UTF-8"?>
<!--
IMPORTANT notes about this file:
    1.) These default values are used inside of PyFarm, do not remove them.
    2.) If you wish to add the search paths, use a comma to append a new path
    3.) Changing values here can produce unexpected results

This file is part of PyFarm.

PyFarm is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

PyFarm is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with PyFarm.  If not, see <http://www.gnu.org/licenses/>.
-->
<settings>
    <network>
        <general type="master" address="127.0.0.1" />
        <general type="size_of_unit" value="16" />
        <server type="broadcast" port="9630" />
        <server type="stdout" port="9631" />
        <server type="stderr" port="9632" />
        <server type="que" port="9633" />
        <server type="admin" port="9634" />
    </network>
</settings>
